[Desktop Entry]
Name=FTL Handler
Exec=/usr/local/bin/ftl-open %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/ftl;x-scheme-handler/ftls;
