[Desktop Entry]
Name=FTL Handler
Exec=sh -c 'firefox "$(echo "%u" | sed "s/^ftls:/https:/;s/^ftl:/http:/")"'
Terminal=false
Type=Application
MimeType=x-scheme-handler/ftl;x-scheme-handler/ftls;
